

.counter {
  margin-top: 20%;

  h1 {
    font-size: 5em;
    text-align: center;
    color: #ffbf35;
  }

    .controls {
      display: flex;
      justify-content: center;
    }

    .main-button {
      display:flex;
      margin: 0 2em;
      padding: 15px 25px;
      cursor: pointer;
      color: #fff;
      background-color: #fabd05;
      border: none;
      border-radius: 20px;
      box-shadow: 0 5px  #cb9109;
    
      &:active {
        box-shadow: none;
        transform: translateY(4px);
      }
    }

    
}


















